{% set pagetitle =  '{core:frontpage:page_title}' | trans %}
{% extends "base.twig" %}
{% block content %}

    <div id="portalmenu" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        
        <ul class="tabset_tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top"><a href="{{baseurlpath}}/module.php/core/frontpage_welcome.php">Welcome</a></li>
            <li class="ui-state-default ui-corner-top"><a href="{{baseurlpath}}/module.php/core/frontpage_config.php">Configuration</a></li>
            <li class="ui-state-default ui-corner-top"><a href="{{baseurlpath}}/module.php/core/frontpage_auth.php">Authentication</a></li>
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#">Federation</a></li>
        </ul>

        <div id="portalcontent" class="ui-tabs-panel ui-widget-content ui-corner-bottom">

            {% if isadmin is not null %}
                <p class="float-r youareadmin">{% trans '{core:frontpage:loggedin_as_admin}' %}</p>
            {% else %}
                <p class="float-r youareadmin"><a href="{{loginurl}}">{% trans '{core:frontpage:login_as_admin}' %}</a></p>
            {% endif %}

            {% if metaentries.hosted is not null and metaentries.hosted|length > 0 %}
                <dl>
                    {% for key, hm in metaentries.hosted %}
                        <dt>{{ (mtype[hm['metadata-set']])|trans}}</dt>
                        <dd>
                            <p>Entity ID: {{hm.entityid}}

                            {% if hm.deprecated is not null %}
                                <br /><b>Deprecated</b>
                            {% endif %}

                            {% if hm.entityid != hm['metadata-index'] %}
                                <br />Index: {{hm['metadata-index']}}
                            {% endif %}

                            {% if hm.name is not null %}
                                <br /><strong>{{hm.name}}</strong>
                            {% endif %}

                            {% if hm.descr is not null %}
                                <br /><strong>{{hm.descr}}</strong>
                            {% endif %}

                            <br  />[ <a href="{{hm['metadata-url']}}">{% trans '{core:frontpage:show_metadata}' %}</a> ]

                            </p>
                        </dd>

                    {% endfor %}
                </dl>
            {% endif %}

            {% set now = date().timestamp %}

            {% if metaentries.remote is not null and metaentries.remote|length > 0 %}
                
                {% for setkey, set in metaentries.remote %}
                    <fieldset class="fancyfieldset"><legend>{{ (mtype[setkey]) | trans }} (Trusted)</legend>
                         <ul>
                        
                            {% for key2, entry in set %}
                                <li>
                                    <a href="/module.php/core/show_metadata.php?entityid={{entry.entityid}}&set={{setkey}}">
                                        {% if entry.name is not null %}
                                            {{entry.name}}
                                        {% elseif entry.OrganizationDisplayName is not empty %}
                                            {{entry.OrganizationDisplayName}}
                                        {% else %}
                                            {{entry.entityid}}
                                        {% endif %}
                                    </a>
                                    
                                    {% if entry.expire is not null %}
                                        {% if entry.expire < now %}
                                            {{ ((now - entry.expire) / 3600) | number_format(2) }}
                                        {% else %}
                                            {{ ((entry.expire - now) / 3600) | number_format(2) }}
                                        {% endif %}
                                    {% endif %}
                                
                                </li>
                            {% endfor %}
                        </ul>
                    </fieldset>

                {% endfor %}
                    
            {% endif %}

            <h2>{% trans '{core:frontpage:tools}' %}</h2>
            <ul>
                {% for linkskey, link in links_federation %}
                    <li><a href="{{link.href}}">{{ (link.text)|trans | raw}}</a></li>
                {% endfor %}
            </ul>

            {% if isadmin is not null %}
                <fieldset class="fancyfieldset">
                    <legend>Lookup metadata</legend>
                    <form action="{{baseurlpath}}/module.php/core/show_metadata.php" method="get">
                        <p style="margin: 1em 2em ">Look up metadata for entity:
                            <select name="set">

                                {% if metaentries.remote is not null %}
                                    {% for metakey, metaentry in metaentries.remote %}
                                        <option value="{{metakey}}">{{ (mtype[metakey]) | trans }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <input type="text" name="entityid" />
                            <button class="btn" type="submit">Lookup </button>
                        </p>
                    </form>
                </fieldset>
            {% endif %}
            
        </div>

    </div>

{% endblock content %}

